* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fffaf7;
  font-family: 'Poppins', sans-serif;
}

.containerFirstPage {
  visibility: hidden;
}
.containerFirstPage.hidden {
  visibility: visible;
}
h2 {
  color: #f7bc99;
  position: absolute;
  top: 20%;
  left: 35%;
  font-size: 4rem;
}
h3 {
  color: #f27932;
  position: absolute;
  top: 66%;
  left: 45%;
  font-size: 1.5rem;
}
#arrow {
  top: 57%;
  left: 43%;
  position: absolute;
}
#cat {
  position: absolute;
  top: 40%;
  left: 45%;
  width: 150px;
  animation: float 2s ease-in-out infinite;
}
/* first page, cat animation */
@keyframes float {
  0% {
    filter: drop-shadow(5px 15px 5px #f7bc99);
    transform: translateY(0px);
  }
  50% {
    filter: drop-shadow(25px 30px 15px #f7bc99);
    transform: translateY(-10px);
  }
  100% {
    filter: drop-shadow(5px 15px 5px #fff0e6);
    transform: translateY(0px);
  }
}
.containerGame {
  visibility: visible;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
}
.containerGame.hidden {
  visibility: hidden;
}

/* timer */
h1 {
  margin-left: 95rem;
  margin-top: 5rem;
  position: absolute;
  color: #f27932;
  opacity: 1;
}
p {
  color: #f27932;
}
.game-intro {
  /*padding: 5% 20%;*/
  padding: 5rem;
  float: left;
  display: flex;
  flex-direction: column;
}
.game-intro img {
  padding: 1rem;
}
/* adjust the position of sound button  */
.sound {
  margin-top: 52rem;
  position: absolute;
}
#information-button {
  margin-left: 98rem;
  margin-top: 52rem;
  position: absolute;
}

.game-frame-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* pop up window for winning game */
.modal {
  position: absolute;
  left: 51.5%;
  top: 35%;
  transform: translate(-50%, -50%);
  padding: 1.6rem 4rem;
  border-radius: 5px;
  background: #fff1ea;
  box-shadow: 5px 5px 5px 3px #f7bc99;
  z-index: 1;
  height: 130px;
}
.modal.hidden {
  display: none;
}
/* pop up window for losing game */
.modal-lose {
  position: absolute;
  left: 51.5%;
  top: 35%;
  transform: translate(-50%, -50%);
  padding: 1.6rem 4rem;
  border-radius: 5px;
  background: #fff1ea;
  box-shadow: 5px 5px 5px 3px #f7bc99;
  z-index: 1;
}
.modal-lose.hidden {
  display: none;
}
/* pop up window for game information */
.modal-info {
  position: absolute;
  left: 84.5%;
  top: 160%;
  transform: translate(-50%, -50%);
  padding: 3.125rem 2rem;
  width: 338px;
  height: 510px;

  border-radius: 5px;
  background: #fff1ea;
  box-shadow: 5px 5px 5px 3px #f7bc99;
  z-index: 1;
}
.modal-info.hidden {
  display: none;
}
.modal-info-content-details {
  /* background: white;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  color: #f27932;
}

.modal-info-content-image {
  background: #fff;
  border-radius: 10px;
  width: 275 px;
  height: 233px;
  margin-top: 30px;
  padding: 1.563rem 1.25rem;
  line-height: 30px !important;
}

.line-1 {
  display: flex;
  align-items: center;
}

.line-2 {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.line-3 {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.line-1 p {
  margin-left: 15px;
}

.line-2 p {
  margin-left: 15px;
}

.line-3 p {
  margin-left: 15px;
}

.modal-info-content-image img {
  /*margin-top: 2rem;*/
  width: 3rem;
}
/*.modal-info-content-image p {
  margin-left: 5rem;
  margin-bottom: 2rem;
}*/

.instruction-title {
  font-weight: 500;
  color: #f27932;
  font-size: 1.125rem;
}

/* next level button inside the winning pop up  */
#nextlevel-button {
  position: relative;
  color: #f27932;
  background-color: #fff1ea;
  box-shadow: 3px 3px 3px 2px #f7bc99;
  z-index: 1;
  border-radius: 2px;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
}

/* close button inside the winning pop up  */
.close-button {
  position: absolute;
  /* width: 1.5rem; */
  top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  right: 1rem;
  text-align: center;
  background-color: #fff1ea;
  color: #f7bc99;
  border: none;
  outline: none;
}
.close-button:hover {
  background-color: white;
}
/* close button inside the information pop up  */
.close-info-button {
  position: absolute;

  top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  right: 1rem;
  text-align: center;
  background-color: #fff1ea;
  color: #f7bc99;
  border: none;
  outline: none;
}
/* style my game canvas */
#canvas {
  top: 18rem;
  right: 40rem;
  background-color: #fffaf7;
  position: absolute;

  background-image: url('../images/grass.png');
}
