* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fffaf7;
  font-family: 'Poppins', sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
}

.game-intro {
  padding: 5% 20%;
  float: left;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}
.game-intro img {
  padding: 1rem;
}

.game-frame-wrap {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* background-color: white; */
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 1.6rem 4rem;
  /* border: 3px solid black; */
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10rem;
}
.hidden {
  display: none;
}
.close-button {
  position: absolute;
  width: 1.5rem;
  top: 1rem;
  left: 1rem;
  text-align: center;
  /* cursor: pointer; */
  border-radius: 0.25rem;
  background-color: #fffaf7;
}
.close-button:hover {
  background-color: darkgray;
}

#canvas {
  top: 15rem;
  right: 40rem;

  /* width: 300px;
    height: 300px; */
  background-color: #fffaf7;
  position: absolute;
  /* border-radius: 10px; */

  /* background-image: url('../images/grass-test.jpeg'); */
}
